:root {
  --bg-color: hsl(252, 3%, 10%);
  --fg-color: #938e94;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: var(--bg-color);
  color: var(--fg-color);
}

.game-board {
  --border-game-cell: 2px solid var(--fg-color);
  max-width: 720px;
  display: grid;
  grid-template-columns: repeat(11, 1fr);
}

.cell {
  position: relative;
}

.cell::before {
  content: "";
  height: 0;
  display: block;
  padding-top: 100%;
}

.cell .content {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center center;
  position: absolute;
  top: 0;
  left: 0;
}

.game-cell {
  border-top: var(--border-game-cell);
  border-left: var(--border-game-cell);
}

.game-cell:nth-child(11n) {
  border-right: var(--border-game-cell);
}

.game-cell:nth-child(n + 111) {
  border-bottom: var(--border-game-cell);
}
