:root {
  --bg-color: hsl(252, 3%, 10%);
  --fg-color: #808080;
  --primary-color: #557a95;
  --secondary-color: #7395ae;
  --accent-color: #b1a296;
  --navy-blue: #0d5fa7;
  --red: #ff0000;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
  box-sizing: border-box;
}

html {
  background-color: var(--bg-color);
  color: var(--fg-color);
}

/* LAYOUT */

body {
  max-width: 400px;
  margin: 0 auto;
  padding: 0 16px;
  margin-bottom: 32px;
  overflow-x: hidden;
}

.title {
  text-align: center;
  margin: 32px 0 24px 0;
}

.fancy-rounded-box {
  margin: 16px 0;
  padding: 10px 12px;
  border-radius: 4px;
  text-align: center;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
}

.main-label {
  background-color: var(--navy-blue);
  color: white;
}

.tip {
  font-size: 0.8rem;
  text-align: center;
  margin: 8px 0;
}

.start-game-btn,
.new-game-btn {
  width: 100%;
  background-color: white;
  color: black;
  border: none;
  cursor: pointer;
}

.start-game-btn:hover,
.new-game-btn:hover {
  background-color: hsl(0, 0%, 90%);
}

/* GAME BOARD */

.game-board {
  --border-game-cell: 2px solid var(--fg-color);
  max-width: 720px;
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  position: relative;
  margin: 0 auto;
}

.main-game-board {
  margin-bottom: 16px;
}

.cell {
  position: relative;
}

.cell::before {
  content: "";
  height: 0;
  display: block;
  padding-top: 100%;
}

.cell .content {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center center;
  position: absolute;
  top: 0;
  left: 0;
}

.game-cell {
  border-top: var(--border-game-cell);
  border-left: var(--border-game-cell);
}

.game-cell:nth-child(11n) {
  border-right: var(--border-game-cell);
}

.game-cell:nth-child(n + 111) {
  border-bottom: var(--border-game-cell);
}

.game-cell.miss {
  background-color: rgb(103, 103, 103);
}

.game-cell.hit {
  background-color: var(--red);
}

.game-board .ship {
  position: absolute;
  border: 4px solid white;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.2);
}

.game-board .ship.interactable {
  touch-action: none;
  cursor: move;
}

.game-board .ship.cant-place {
  border: 4px solid rgb(255, 90, 90);
  background-color: rgba(195, 60, 60, 0.2);
}

.game-board .ship.dragging {
  z-index: 1;
}

.game-board .ship-blocks {
  display: flex;
  position: absolute;
}

.game-board .ship-block {
  flex: 1;
}

.fleet-indicator {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
}

.fleet-indicator .ship {
  display: flex;
  border: 2px solid white;
  border-radius: 4px;
}

.fleet-indicator .ship.sunk {
  background-color: var(--red);
}

.fleet-indicator .ship-block {
  flex: 1;
  border-right: 2px solid var(--fg-color);
  background-color: rgba(255, 255, 255, 0.2);
}

.fleet-indicator .ship-block:last-child {
  border-color: transparent;
}
